.select2-selection__rendered{
    margin-top: 5px!important;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice{
    margin-right: 0!important;
    margin-top: 0!important;
}
.datatable {
    width: 100% !important;
}

.dataTables_length,
.dataTables_filter,
.dt-buttons {
    margin-bottom: 0.333em;
}

.dt-buttons .btn {
    margin-left: 0.333em;
    border-radius: 0;
}

.table.datatable {
    box-sizing: border-box;
    border-collapse: collapse;
}

table.dataTable thead th {
    border-bottom: 2px solid #dee2e6;
}

.dataTables_wrapper.no-footer .dataTables_scrollBody {
    border-bottom: 1px solid #dee2e6;
}

.select2 {
    max-width: 100%;
    width: 100%;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc {
    background-image: none;
}

.btn-group-xs > .btn,
.btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.message-container {
    position: fixed;
    bottom: 0;
    right: 20px;
    max-width: 400px;
    z-index: 99999
}
ul
{
    list-style: none!important;
}
.content li+li
{
    margin: 0!important;
}
.error
{
    color: red;
}
.hidden
{
    display: none;
}
.message{
    margin-left: auto;
}

