.duplicate {
    display: none
}
.nav-link.error{
    position: relative;
}
.nav-link.error::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    background:  red;
    z-index: 2;
}
.toggle.btn {
    height: 20px!important;
    min-height: 20px!important;
}
.toggle.btn label{
    padding: 0 10px!important;
    margin: -2px 5px!important;
    font-size: 14px!important;
}
.toggle.btn span{
    line-height: 1!important;
    margin-top: -12px!important;
}
.nav-treeview{
    background: #4b545c!important;
}
.table-bordered {
    border: 0 !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    margin-right: 5px !important;
    margin-top: 5px !important;
}
/*.table-hover tbody tr:hover{
    color: #fff;!important;
}*/

.checked {
    color: orange;
}
